<%- include('../../partials/header') %>
    <%- include('../../partials/navbar') %>
        <div style="width: 50%;margin: 10px auto; padding-top: 3rem;">
            <%- include('../../partials/flash') %>
                <form class="validate" action="/login" method="POST" novalidate>
                    <h1 class="display-4">Login</h1>
                    <div class="mb-3">
                        <label for="username" class="form-label">UserName</label>
                        <input type="text" class="form-control" id="username" placeholder="Username" name="username" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password" name='password' required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>

                        <button type="submit" class="btn btn-primary m-4">Login</button>
                        <br><br>
                        <a href="/register">SignUp?</a>
                </form>
                </div>

                <%- include('../../partials/footer') %>