<div id="carouselExampleFade" class="carousel slide carousel-fade mb-4" style="width: 70vw; margin: auto;" data-bs-ride="carousel">
    <div class="carousel-inner ">
        <div class="carousel-item active" data-bs-interval="3000">
            <img src="https://images.unsplash.com/photo-1527747367590-09565c700ddd?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fG9uZXBsdXN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" style="height:40vh;width: 70vw;" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="https://images.unsplash.com/photo-1542291026-7eec264c27ff?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bmlrZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" style="height:40vh;width: 70vw;" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="https://images.unsplash.com/photo-1583373351761-fa9e3a19c99d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8amJsJTIwaGVhZHBob25lc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" style="height:40vh;width: 70vw;" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="https://images.unsplash.com/photo-1517336714731-489689fd1ca8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8bWFjYm9va3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" style="height:40vh;width: 70vw;" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="https://images.unsplash.com/photo-1587836374828-4dbafa94cf0e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cm9sZXh8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" style="height:40vh;width: 70vw;" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <img src="https://images.unsplash.com/photo-1499696786230-3ebd9d0d6fd8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fGNhbm9ufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" style="height:40vh;width: 70vw;" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>