<footer class="footer py-3 mt-auto text-white text-center " style="width: 100%; background-color: #4cc9f0;">
    <div class="container">
        <div class="row"><span style="color: black;">&copy; Shopping-cart 2021</span>
            <% if(currentUser){ %>
                <div class="col-lg-4">
                    <ul style="list-style: none;">
                        <li><i class="fas fa-phone-alt"></i> +91 9885522001</li>
                        <li><i class="fas fa-map-marker-alt"></i> M.P Nagar Zone-2, Bhopal</li>
                        <li><i class="far fa-envelope"></i> ayushsoni75029@gmail.com</li>
                    </ul>
                </div>

                <div class="col-lg-4">
                    <p>Contact us at:</p>
                    <div class="social-icons">
                        <a href="https://instagram.com/__a.y.u.s.h.___?igshid=b5qw4uxzyi5s" class="social-icons"><i class="fab fa-instagram"></i></a><a><i class="fab fa-facebook-square"></i></i></a><a><i class="fab fa-twitter"></i></a><a><i class="fab fa-github"></i></a>
                    </div>

                </div>
                <div class="col-lg-4">
                    <p>About:</p>
                    <p>Fast growing e-commerce <br>website with trusted users</p>
                </div>


                <% } %>
        </div>
    </div>


    </div>
</footer>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.validate')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function(form) {
                form.addEventListener('submit', function(event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
</body>


</html>